:local(.scoped) {
    .site-header {
        /* rem em px */
        /* padding-block: 1rem; */
        padding-block: 1rem;
        /* vs padding top + padding bottom : 1 rem */
    
        /* BEM naming convension */
        /* https://getbem.com/naming/ */
        /* Block: .card, .site-header, .main-navigation, .search-form*/
        /* Element  .card__header, .card__title*/
        /* Modifier button--primary, .card__header--size-big ...*/
        /* -> -- for state, __ for block's element, - for internal connection*/
    
        /* &__inner need css processor */
        /* https://sass-lang.com/playground/#eJxVkE1uwjAQhfc+xYhSRCUcAVE3zobuegs0iSeJW+NYHgeKKu7eOI1QsvHP83vzzfhwOPVMsGJkVtZwXBViplSd7cIgiXXduSg5YvWt4JPslaKpcAcfwaAtxNoHc8Fwl2NAwUue50Oq7PQdfgXAIp4wGXpPTm9nDztgdCyZgqnfiiGUntQ8WoiHEDgWnDhL7kAE2Ki2u1JIpqdt3DKu0NJ2GdnB2pqmjY6GaeG4fx3JjwTK2ESSLaGmMDI9am1cI0vbpTEOgS7JvDmfjXOTB0Ab9hbvCmpLP8UopZO8BfQK0vovNum6z96HKnCcSgF89RxNnZpzkdL47LEiWVK8EblnbydNZd8s/uYPVNyRMw== */
        .site-header__inner {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem 2rem;
          justify-content: space-between;
        }
      }
    
      .primary-navigation {
        ul {
          /* move to base */
          /* list-style: none;
          margin: 0;
          padding: 0; */
    
          /* web horizontial display */
          /* layout: flex */
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem 2rem;
        }
    
        /* a {
          text-decoration: none;
        } */
      }
    
      /* hide in wide screen */
      [aria-controls="primary-navigation"] {
        display: none;
      }
    
      /* behaviors under 760px */
      @media (width < 760px) {
        /* styling menu button */
        [aria-controls="primary-navigation"] {
          /* default is none */
          display: block;
          z-index: var(--z-index-20);
    
          background: transparent;
          border: 0;
    
          img {
            border-radius: 0;
          }
        }
    
        /* provide an anchor for popup menu */
        .site-header {
          position: relative;
        }
    
        /* styling popup menu */
        .primary-navigation {
          /* shown when aria-expanded="true" */
          /* js to handle menu button click event */
          display: none;
          /* here is relative to site-header */
          position: absolute;
          /* menu button is 100 */
          z-index: var(--z-index-10);
          top: 0;
          right: 0;
          padding: 2rem;
          border-radius: 0 0 0 var(--border-radius-3);
          background: var(--background-accent-main);
    
          ul {
            /* flex layout column */
            flex-direction: column;
            gap: 0;
            /* will be inherit by li */
            font-size: var(--fs-700);
            font-family: var(--ff-heading);
            font-weight: 700;
          }
    
          /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_selectors */
          /* Next-sibling_combinator: https://developer.mozilla.org/en-US/docs/Web/CSS/Next-sibling_combinator */
          /* + > ~ */
          li + li {
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 2px solid var(--background-accent-light);
          }
        }
    
        /* when menu button is open */
        [aria-expanded="true"] ~ .primary-navigation {
          display: block;
        }
      }
    
}